<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4 border tall">

		<%= form_for @user do |f| %>

			<h2>Name: <%= f.text_field :username, class: "form-control" %></h2>
			<h2>Password: <%= f.password_field :password, class: "form-control" %></h2>
			<%= f.submit "Sign up!", class: "btn btn-default" %>
		<% end %>
	<%= link_to "Sign in!", login_path, class: "btn btn-default" %>

	</div>
	<div class="col-md-4"></div>
</div>