<!DOCTYPE html>
<html>
<head>
  <title>Flashquiz</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="FlashQuizApp" ng-controller="MainController">

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">Flash Quiz</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/createdeck">Create a New Deck</a></li>
        <li><a href="/">Create Cards</a></li>
        <li><a href="/quiz">Quiz Time</a></li>
        <% if current_user %>
        <li><%= link_to "Log out!", logout_path(:remember_token), :method => :delete %></li>
        <% else %>
        <li><a href="/login">Log In</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
<%= yield %>
</div>

</body>
</html>
